<!DOCTYPE html>
<html lang="en">
  <head>
  	<% include partials/head.ejs %> 	 
  </head>
  <body>
    
	<% include partials/header.ejs %> 	 

    <div id="hero-image-single" style="background-image: url('/images/<%= serie.hero_image %>');">
    	<h1 id="hero-title"> <%= title %> </h1>
    </div>

    <div class="content-padding clearfix">
    	<div class="poster-wrapper">
    		<img src="/images/<%= serie.poster %>" class="img-responsive">
    	</div>

		<div class="description-wrapper">
			<div class="description">
				<h2 class="movie-header">Description</h2>
				<p> <%= serie.description %></p>
			</div>

			<div class="main-characters">
				<h2 class="movie-header">Main Characters</h2>				
				<ul>
					<% for(var i=0;i< main_characters.length;i++){%>
						<li><%= main_characters[i] %></li>
					<%}%>
				</ul>
			</div>

			<div class="embed-responsive embed-responsive-4by3">									
				<iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/<%= serie.trailer %>" frameborder="0" allowfullscreen></iframe>				
			</div>

		</div>

    </div>
	<% include partials/footer.ejs %> 	     
    <% include partials/scripts.ejs %> 	 
  </body>
</html>